
@{
    ViewBag.Title = "Bio";
}

<h2>Bio of @ViewBag.Name</h2>


<table class="table table-bordered">
    <tr>
        <th>NAME</th>
        <td>RIMON NATH</td>
    </tr>
    <tr>
        <th>FATHER'S NAME</th>
        <td>TAPAN KANTI NATH</td>
    </tr>
    <tr>
        <th>MOTHER'S NAME</th>
        <td>SHEULI NATH</td>
    </tr>
    <tr>
        <th>DATE OF BIRTH</th>
        <td>12 JUNE 1999</td>
    </tr>

    <tr>
        <th>ADDRESS</th>
        <td>BALUCHARA,HATHAZARI ROAD,CHITTAGONG</td>
    </tr>
    <tr>
        <th>GMAIL ID</th>
        <td>rimonnath11@gmail.com</td>
    </tr>


</table>

